
img {
    border-radius: 50%;
}

.couple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    margin: 50px, 50px, 50px, 50px;
    background-color: rgb(68, 59, 130);
    color: White;
    line-height: 35px;
    width: 150px;
}

.plumbers {
    margin: 50px, 50px, 50px, 50px;
    background-color: rgb(18, 104, 79);
    color: White;
    line-height: 25px;
    width: 150px;
}


.request_li {
    background-color: white;
    border: 1px solid rgb(83, 86, 89);
    width: 900px;
}

.request__delete {
    margin: 50px, 50px, 50px, 50px;
    background-color: rgb(142, 50, 192);
    color: White;
    line-height: 25px;
    width: 150px;  
}

.request {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
}

.Table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(98, 112, 107);
    color: White;
    width: 900px;
}

.space {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 900px;
}

.done {
    background-color: rgb(232, 87, 87);
    width: 900px;
}

.color {
    color: white;
    width: 900px;
}